.devis {
  width: 100vw;
  height: 100vh;
  background-color: white;
  overflow-y: hidden;
  overflow-x: scroll;
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
}

@media screen and (max-width: 295px) {
}
