#services {
  width: 100vw;
  position: relative;
}

#container {
  padding-top: 40px;
  padding-bottom: 45px;
  padding-left: 35px;
  padding-right: 35px;
  position: relative;
}

.content {
  min-height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.title {
  font-size: 30px;
  color: #656cff;
  margin-bottom: 30px;
  margin-top: -1px;
}

.image {
  /* width: 100%; */
}

#Groupe_30 {
  background-color: red;
}
